In [1]:
%matplotlib inline
import pandas as pd

In [2]:
imdb_df = pd.read_csv('https://datasets.imdbws.com/name.basics.tsv.gz', compression='gzip', 
                         header=0, sep='\t', quotechar='"', nrows=10)
imdb_df

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0053137,tt0031983,tt0050419,tt0072308"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0038355,tt0071877,tt0117057,tt0037382"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0057345,tt0049189,tt0054452,tt0059956"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0077975,tt0072562,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050986,tt0050976,tt0083922,tt0060827"
5,nm0000006,Ingrid Bergman,1915,1982,"actress,soundtrack,producer","tt0034583,tt0036855,tt0038109,tt0038787"
6,nm0000007,Humphrey Bogart,1899,1957,"actor,soundtrack,producer","tt0040897,tt0034583,tt0043265,tt0033870"
7,nm0000008,Marlon Brando,1924,2004,"actor,soundtrack,director","tt0078788,tt0070849,tt0047296,tt0068646"
8,nm0000009,Richard Burton,1925,1984,"actor,soundtrack,producer","tt0057877,tt0059749,tt0061184,tt0087803"
9,nm0000010,James Cagney,1899,1986,"actor,soundtrack,director","tt0029870,tt0042041,tt0031867,tt0035575"

In [3]:
title_akas_df = pd.read_csv('https://datasets.imdbws.com/title.akas.tsv.gz', compression='gzip', 
                         header=0, sep='\t', quotechar='"', nrows=10)
title_akas_df

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0
5,tt0000001,6,Carmencita,US,\N,\N,\N,0
6,tt0000001,7,Carmencita,\N,\N,original,\N,1
7,tt0000001,8,カルメンチータ,JP,ja,imdbDisplay,\N,0
8,tt0000002,1,Le clown et ses chiens,\N,\N,original,\N,1
9,tt0000002,2,A bohóc és kutyái,HU,\N,imdbDisplay,\N,0

In [4]:
title_akas_df.columns

Index(['titleId', 'ordering', 'title', 'region', 'language', 'types',
       'attributes', 'isOriginalTitle'],
      dtype='object')

In [5]:
len(title_akas_df)

10

In [6]:
title_akas_df.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [11]:
testdf = title_akas_df
print(id(title_akas_df))
print(id(testdf))
testdf = testdf.set_index('ordering')
testdf

1552750999816
1552750999816

,titleId,title,region,language,types,attributes,isOriginalTitle
ordering,,,,,,,
1,tt0000001,Карменсіта,UA,\N,imdbDisplay,\N,0
2,tt0000001,Carmencita,DE,\N,\N,literal title,0
3,tt0000001,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
4,tt0000001,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
5,tt0000001,Карменсита,RU,\N,imdbDisplay,\N,0
6,tt0000001,Carmencita,US,\N,\N,\N,0
7,tt0000001,Carmencita,\N,\N,original,\N,1
8,tt0000001,カルメンチータ,JP,ja,imdbDisplay,\N,0
1,tt0000002,Le clown et ses chiens,\N,\N,original,\N,1
2,tt0000002,A bohóc és kutyái,HU,\N,imdbDisplay,\N,0

In [8]:
print(id(title_akas_df))
print(id(testdf))

1552750999816
1552751035272

In [9]:
title_akas_df.loc[2]

titleId                            tt0000001
ordering                                   3
title              Carmencita - spanyol tánc
region                                    HU
language                                  \N
types                            imdbDisplay
attributes                                \N
isOriginalTitle                            0
Name: 2, dtype: object

In [10]:
type(testdf.loc[2])

pandas.core.frame.DataFrame