In [91]:
import pandas as pd
import numpy as np

In [92]:
df_orig = pd.read_excel('data/test.xlsx')
df_orig.head()

,Resource Name,Project/SSCR name,Planned Release month,Project Role,Legato Manager Name,Anthem Manager,Project Model,Planned Hours,Actual Hours,Remaining Hours,...,Actual Task7 Hours,Task7Comments,Actual Task8 Hours,Task8Comments,Actual Task9 Hours,Task9Comments,Actual Task10 Hours,Task10Comments,Actual Away From Work Hours,AwayFromWorkComments
0,"Gangwar, Kamal [AF40660]",Cotiviti Online & Adjustments Phase 1- Sep,September 2020,Senior Software Engineer,"Ghosh, Ayan",Saxon Joseph,Waterfall,96.0,125.0,-29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Gangwar, Kamal [AF40660]",Others,NaN,Senior Software Engineer,"Ghosh, Ayan",Saxon Joseph,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,Sick Leave - [8.00];Holiday - [8.00]
2,"Gangwar, Kamal [AF40660]",PV36064 Cotiviti Pre to Post Phase 3,June 2020,Senior Software Engineer,"Ghosh, Ayan",Saxon Joseph,Waterfall,52.0,7.5,44.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Gangwar, Kamal [AF40660]",PV36064_Cotiviti expansion,February 2020,Senior Software Engineer,"Ghosh, Ayan",Saxon Joseph,Waterfall,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Gangwar, Kamal [AF40660]",PV38761 ClaimXten Expansion,June 2020,Senior Software Engineer,"Ghosh, Ayan",Saxon Joseph,Waterfall,36.0,0.0,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [93]:
df_orig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 83 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Resource Name                                     42 non-null     object
 1   Project/SSCR name                                 42 non-null     object
 2   Planned Release month                             36 non-null     object
 3   Project Role                                      42 non-null     object
 4   Legato Manager Name                               42 non-null     object
 5   Anthem Manager                                    42 non-null     object
 6   Project Model                                     36 non-null     object
 7   Planned Hours                                     36 non-null     float64
 8   Actual Hours                                      36 non-null     float64
 9   Remaining Hours                                   36 non-null     float64
 10  Planned Requirements Hours                        32 non-null     float64
 11  Planned Requirement Analysis Hours                32 non-null     float64
 12  Actual BRD Hours                                  0 non-null      float64
 13  Actual BRD Review Hours                           0 non-null      float64
 14  Planned Design Hours                              32 non-null     float64
 15  Planned Test Design Hours                         32 non-null     float64
 16  Actual LOE 90% Hours                              0 non-null      float64
 17  Actual TDD Hours                                  3 non-null      float64
 18  Actual Unit Test Plan Hours                       1 non-null      float64
 19  Actual Design Review Hours                        3 non-null      float64
 20  Planned Development Hours                         32 non-null     float64
 21  Planned Test Data Creation Hours                  32 non-null     float64
 22  Actual Coding Hours                               14 non-null     float64
 23  Actual Unit Testing Hours                         14 non-null     float64
 24  Actual Code UT Review Hours                       8 non-null      float64
 25  Actual Code Retro Fit Hours                       4 non-null      float64
 26  Actual SIT Test Plan Hours                        3 non-null      float64
 27  Actual SIT Preparation Review Hours               4 non-null      float64
 28  Planned SIT Hours                                 32 non-null     float64
 29  Planned Test Execution Hours                      32 non-null     float64
 30  Actual Test Execution Hours                       0 non-null      float64
 31  Actual Test Review Hours                          1 non-null      float64
 32  Actual Requirement Analysis                       0 non-null      float64
 33  Actual Test Design                                0 non-null      float64
 34  Actual Test Data Creation                         0 non-null      float64
 35  Actual Defect Management                          0 non-null      float64
 36  Actual Communication And Status Reporting         0 non-null      float64
 37  Actual Rework                                     0 non-null      float64
 38  Planned UAT Hours                                 32 non-null     float64
 39  Test Review Hours                                 32 non-null     float64
 40  Actual UAT Code Retro Fit Hours                   0 non-null      float64
 41  Actual UAT Code Fix Hours                         0 non-null      float64
 42  Actual UAT Fix Test Hours                         0 non-null      float64
 43  Planned STC Hours                                 32 non-null     float64
 44  Defect Management Hours                           32 non-null     float64
 45  Actual STC Results Review Hours                   2 non-null      float64
 46  Actual STC Code Fix Hours                         1 non-null      float64
 47  Actual STC Fix Test Hours                         1 non-null      float64
 48  Planned Release Hours                             32 non-null     float64
 49  Planned Communication and Status Reporting Hours  32 non-null     float64
 50  Actual Release Checklist Hours                    3 non-null      float64
 51  Actual Implementation Support Hours               1 non-null      float64
 52  Actual Post Implementation Support Hours          2 non-null      float64
 53  Planned Warranty Support Hours                    32 non-null     float64
 54  Planned Rework Hours                              32 non-null     float64
 55  Actual Warranty Hours                             0 non-null      float64
 56  Actual Adhoc Hours                                0 non-null      float64
 57  Actual Adhoc Analysis Hours                       14 non-null     float64
 58  Actual Idle Time Hours                            0 non-null      float64
 59  Actual PTO Hours                                  0 non-null      float64
 60  Actual Total Other Hours                          6 non-null      float64
 61  Actual Task1 Hours                                1 non-null      float64
 62  Task1Comments                                     1 non-null      object
 63  Actual Task2 Hours                                1 non-null      float64
 64  Task2Comments                                     1 non-null      object
 65  Actual Task3 Hours                                1 non-null      float64
 66  Task3Comments                                     1 non-null      object
 67  Actual Task4 Hours                                0 non-null      float64
 68  Task4Comments                                     0 non-null      float64
 69  Actual Task5 Hours                                0 non-null      float64
 70  Task5Comments                                     0 non-null      float64
 71  Actual Task6 Hours                                0 non-null      float64
 72  Task6Comments                                     0 non-null      float64
 73  Actual Task7 Hours                                0 non-null      float64
 74  Task7Comments                                     0 non-null      float64
 75  Actual Task8 Hours                                0 non-null      float64
 76  Task8Comments                                     0 non-null      float64
 77  Actual Task9 Hours                                0 non-null      float64
 78  Task9Comments                                     0 non-null      float64
 79  Actual Task10 Hours                               0 non-null      float64
 80  Task10Comments                                    0 non-null      float64
 81  Actual Away From Work Hours                       6 non-null      float64
 82  AwayFromWorkComments                              6 non-null      object
dtypes: float64(72), object(11)
memory usage: 27.4+ KB

In [94]:
df_copy = df_orig.copy()

In [95]:
print(id(df_orig))
print(id(df_copy))

2738037149192
2738008029768

In [96]:
pd.reset_option('display.max_rows')

In [97]:
comments_col_index_array = np.arange(62,84,2)
#comments_col_index_array

In [98]:
arr = np.array([1,2,3])
df_copy.columns[arr]

Index(['Project/SSCR name', 'Planned Release month', 'Project Role'], dtype='object')

In [99]:
#df_copy.columns[comments_col_index_array]
df_copy.drop(df_copy.columns[comments_col_index_array],axis=1,inplace=True)

In [100]:
# Every DataFrame has 2 Index objects--- index(lowercase i,singular), columns(lowercase c, plural)

#Slicing an index will give us an index, Slicing an ndarray will give us an ndarray. The 'values'
#attribute of an index object is an ndarray. But we do not need 'values' attribute to access
# individual data elements of the index (unless we are trying to use a method that would not allow indexes
# ). So we can directly use columns[] instead of columns.values[]
print(type(df_copy.index[1:2]))
print(type(df_copy.index.values[1:2]))
print(type(df_copy.columns[1:2]))
print(type(df_copy.columns.values[1:2]))

<class 'pandas.core.indexes.range.RangeIndex'>
<class 'numpy.ndarray'>
<class 'pandas.core.indexes.base.Index'>
<class 'numpy.ndarray'>

In [101]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 72 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Resource Name                                     42 non-null     object
 1   Project/SSCR name                                 42 non-null     object
 2   Planned Release month                             36 non-null     object
 3   Project Role                                      42 non-null     object
 4   Legato Manager Name                               42 non-null     object
 5   Anthem Manager                                    42 non-null     object
 6   Project Model                                     36 non-null     object
 7   Planned Hours                                     36 non-null     float64
 8   Actual Hours                                      36 non-null     float64
 9   Remaining Hours                                   36 non-null     float64
 10  Planned Requirements Hours                        32 non-null     float64
 11  Planned Requirement Analysis Hours                32 non-null     float64
 12  Actual BRD Hours                                  0 non-null      float64
 13  Actual BRD Review Hours                           0 non-null      float64
 14  Planned Design Hours                              32 non-null     float64
 15  Planned Test Design Hours                         32 non-null     float64
 16  Actual LOE 90% Hours                              0 non-null      float64
 17  Actual TDD Hours                                  3 non-null      float64
 18  Actual Unit Test Plan Hours                       1 non-null      float64
 19  Actual Design Review Hours                        3 non-null      float64
 20  Planned Development Hours                         32 non-null     float64
 21  Planned Test Data Creation Hours                  32 non-null     float64
 22  Actual Coding Hours                               14 non-null     float64
 23  Actual Unit Testing Hours                         14 non-null     float64
 24  Actual Code UT Review Hours                       8 non-null      float64
 25  Actual Code Retro Fit Hours                       4 non-null      float64
 26  Actual SIT Test Plan Hours                        3 non-null      float64
 27  Actual SIT Preparation Review Hours               4 non-null      float64
 28  Planned SIT Hours                                 32 non-null     float64
 29  Planned Test Execution Hours                      32 non-null     float64
 30  Actual Test Execution Hours                       0 non-null      float64
 31  Actual Test Review Hours                          1 non-null      float64
 32  Actual Requirement Analysis                       0 non-null      float64
 33  Actual Test Design                                0 non-null      float64
 34  Actual Test Data Creation                         0 non-null      float64
 35  Actual Defect Management                          0 non-null      float64
 36  Actual Communication And Status Reporting         0 non-null      float64
 37  Actual Rework                                     0 non-null      float64
 38  Planned UAT Hours                                 32 non-null     float64
 39  Test Review Hours                                 32 non-null     float64
 40  Actual UAT Code Retro Fit Hours                   0 non-null      float64
 41  Actual UAT Code Fix Hours                         0 non-null      float64
 42  Actual UAT Fix Test Hours                         0 non-null      float64
 43  Planned STC Hours                                 32 non-null     float64
 44  Defect Management Hours                           32 non-null     float64
 45  Actual STC Results Review Hours                   2 non-null      float64
 46  Actual STC Code Fix Hours                         1 non-null      float64
 47  Actual STC Fix Test Hours                         1 non-null      float64
 48  Planned Release Hours                             32 non-null     float64
 49  Planned Communication and Status Reporting Hours  32 non-null     float64
 50  Actual Release Checklist Hours                    3 non-null      float64
 51  Actual Implementation Support Hours               1 non-null      float64
 52  Actual Post Implementation Support Hours          2 non-null      float64
 53  Planned Warranty Support Hours                    32 non-null     float64
 54  Planned Rework Hours                              32 non-null     float64
 55  Actual Warranty Hours                             0 non-null      float64
 56  Actual Adhoc Hours                                0 non-null      float64
 57  Actual Adhoc Analysis Hours                       14 non-null     float64
 58  Actual Idle Time Hours                            0 non-null      float64
 59  Actual PTO Hours                                  0 non-null      float64
 60  Actual Total Other Hours                          6 non-null      float64
 61  Actual Task1 Hours                                1 non-null      float64
 62  Actual Task2 Hours                                1 non-null      float64
 63  Actual Task3 Hours                                1 non-null      float64
 64  Actual Task4 Hours                                0 non-null      float64
 65  Actual Task5 Hours                                0 non-null      float64
 66  Actual Task6 Hours                                0 non-null      float64
 67  Actual Task7 Hours                                0 non-null      float64
 68  Actual Task8 Hours                                0 non-null      float64
 69  Actual Task9 Hours                                0 non-null      float64
 70  Actual Task10 Hours                               0 non-null      float64
 71  Actual Away From Work Hours                       6 non-null      float64
dtypes: float64(65), object(7)
memory usage: 23.8+ KB

In [102]:
Idvars = df_copy.columns[:10]
Valuevars = df_copy.columns[10:] 

df_melt = pd.melt(df_copy,
                  id_vars = Idvars,
                  value_vars = Valuevars,
                  value_name = 'Hours'
                 )
df_melt.head()

,Resource Name,Project/SSCR name,Planned Release month,Project Role,Legato Manager Name,Anthem Manager,Project Model,Planned Hours,Actual Hours,Remaining Hours,variable,Hours
0,"Gangwar, Kamal [AF40660]",Cotiviti Online & Adjustments Phase 1- Sep,September 2020,Senior Software Engineer,"Ghosh, Ayan",Saxon Joseph,Waterfall,96.0,125.0,-29.0,Planned Requirements Hours,400.0
1,"Gangwar, Kamal [AF40660]",Others,NaN,Senior Software Engineer,"Ghosh, Ayan",Saxon Joseph,NaN,NaN,NaN,NaN,Planned Requirements Hours,NaN
2,"Gangwar, Kamal [AF40660]",PV36064 Cotiviti Pre to Post Phase 3,June 2020,Senior Software Engineer,"Ghosh, Ayan",Saxon Joseph,Waterfall,52.0,7.5,44.5,Planned Requirements Hours,0.0
3,"Gangwar, Kamal [AF40660]",PV36064_Cotiviti expansion,February 2020,Senior Software Engineer,"Ghosh, Ayan",Saxon Joseph,Waterfall,0.0,0.0,0.0,Planned Requirements Hours,NaN
4,"Gangwar, Kamal [AF40660]",PV38761 ClaimXten Expansion,June 2020,Senior Software Engineer,"Ghosh, Ayan",Saxon Joseph,Waterfall,36.0,0.0,36.0,Planned Requirements Hours,200.0

In [103]:
colsplit = df_melt['variable'].str.split(' ', 1)
#colsplit.str[0] gives the series of first words in the entire colsplit series, 
#colsplit[0] would have given the first element of colsplit series which is a list.
#When we need to do something to the texts inside all the elements in the series, we use str
#.str just lets us do the same thing on the whole series.
df_melt['Effort Type'] = colsplit.str[0]
df_melt['Task Name'] = colsplit.str[1]
df_melt.head()

,Resource Name,Project/SSCR name,Planned Release month,Project Role,Legato Manager Name,Anthem Manager,Project Model,Planned Hours,Actual Hours,Remaining Hours,variable,Hours,Effort Type,Task Name
0,"Gangwar, Kamal [AF40660]",Cotiviti Online & Adjustments Phase 1- Sep,September 2020,Senior Software Engineer,"Ghosh, Ayan",Saxon Joseph,Waterfall,96.0,125.0,-29.0,Planned Requirements Hours,400.0,Planned,Requirements Hours
1,"Gangwar, Kamal [AF40660]",Others,NaN,Senior Software Engineer,"Ghosh, Ayan",Saxon Joseph,NaN,NaN,NaN,NaN,Planned Requirements Hours,NaN,Planned,Requirements Hours
2,"Gangwar, Kamal [AF40660]",PV36064 Cotiviti Pre to Post Phase 3,June 2020,Senior Software Engineer,"Ghosh, Ayan",Saxon Joseph,Waterfall,52.0,7.5,44.5,Planned Requirements Hours,0.0,Planned,Requirements Hours
3,"Gangwar, Kamal [AF40660]",PV36064_Cotiviti expansion,February 2020,Senior Software Engineer,"Ghosh, Ayan",Saxon Joseph,Waterfall,0.0,0.0,0.0,Planned Requirements Hours,NaN,Planned,Requirements Hours
4,"Gangwar, Kamal [AF40660]",PV38761 ClaimXten Expansion,June 2020,Senior Software Engineer,"Ghosh, Ayan",Saxon Joseph,Waterfall,36.0,0.0,36.0,Planned Requirements Hours,200.0,Planned,Requirements Hours

In [104]:
#df_melt['Task Name'] = df_melt['Task Name'].str.split(' ', -1)'
#df_melt['Task Name'].str.rsplit(' ', 1)
df_melt['Task Name']= df_melt['Task Name'].str.rstrip('Hours')

In [105]:
df_melt.drop('variable', axis=1, inplace=True)

In [106]:
df_melt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2604 entries, 0 to 2603
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Resource Name          2604 non-null   object
 1   Project/SSCR name      2604 non-null   object
 2   Planned Release month  2232 non-null   object
 3   Project Role           2604 non-null   object
 4   Legato Manager Name    2604 non-null   object
 5   Anthem Manager         2604 non-null   object
 6   Project Model          2232 non-null   object
 7   Planned Hours          2232 non-null   float64
 8   Actual Hours           2232 non-null   float64
 9   Remaining Hours        2232 non-null   float64
 10  Hours                  606 non-null    float64
 11  Effort Type            2604 non-null   object
 12  Task Name              2604 non-null   object
dtypes: float64(4), object(9)
memory usage: 264.6+ KB

In [107]:
df_melt.rename(columns={'Planned Hours':'Total Planned Hours',
                        'Actual Hours':'Total Actual Hours',
                        'Remaining Hours':'Total Remaining Hours'},
               inplace=True)
df_melt['AGID'] = df_melt['Resource Name'].str[-8:-1]

In [108]:
df_melt['Resource Name'] = df_melt['Resource Name'].str[:-9]
df_melt

,Resource Name,Project/SSCR name,Planned Release month,Project Role,Legato Manager Name,Anthem Manager,Project Model,Total Planned Hours,Total Actual Hours,Total Remaining Hours,Hours,Effort Type,Task Name,AGID
0,"Gangwar, Kamal",Cotiviti Online & Adjustments Phase 1- Sep,September 2020,Senior Software Engineer,"Ghosh, Ayan",Saxon Joseph,Waterfall,96.0,125.0,-29.0,400.0,Planned,Requirements,AF40660
1,"Gangwar, Kamal",Others,NaN,Senior Software Engineer,"Ghosh, Ayan",Saxon Joseph,NaN,NaN,NaN,NaN,NaN,Planned,Requirements,AF40660
2,"Gangwar, Kamal",PV36064 Cotiviti Pre to Post Phase 3,June 2020,Senior Software Engineer,"Ghosh, Ayan",Saxon Joseph,Waterfall,52.0,7.5,44.5,0.0,Planned,Requirements,AF40660
3,"Gangwar, Kamal",PV36064_Cotiviti expansion,February 2020,Senior Software Engineer,"Ghosh, Ayan",Saxon Joseph,Waterfall,0.0,0.0,0.0,NaN,Planned,Requirements,AF40660
4,"Gangwar, Kamal",PV38761 ClaimXten Expansion,June 2020,Senior Software Engineer,"Ghosh, Ayan",Saxon Joseph,Waterfall,36.0,0.0,36.0,200.0,Planned,Requirements,AF40660
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2599,"Pradhan, Jyotirekha",PV36064_Cotiviti expansion,February 2020,Software Engineer,"Ghosh, Ayan",Saxon Joseph,Waterfall,0.0,0.0,0.0,NaN,Actual,Away From Work,AG18454
2600,"Reddy, Madhan",Cotiviti Expansion July Release,July 2020,Software Engineer,"Ghosh, Ayan",Saxon Joseph,Waterfall,100.0,80.7,19.3,NaN,Actual,Away From Work,AG61751
2601,"Reddy, Madhan",Cotiviti Online & Adjustments Phase 1- Sep,September 2020,Software Engineer,"Ghosh, Ayan",Saxon Joseph,Waterfall,64.0,96.5,-32.5,NaN,Actual,Away From Work,AG61751
2602,"Reddy, Madhan",Others,NaN,Software Engineer,"Ghosh, Ayan",Saxon Joseph,NaN,NaN,NaN,NaN,8.0,Actual,Away From Work,AG61751
2603,"Reddy, Madhan",PV38761 ClaimXten Expansion,June 2020,Software Engineer,"Ghosh, Ayan",Saxon Joseph,Waterfall,20.0,0.0,20.0,NaN,Actual,Away From Work,AG61751

In [109]:
df_melt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2604 entries, 0 to 2603
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Resource Name          2604 non-null   object
 1   Project/SSCR name      2604 non-null   object
 2   Planned Release month  2232 non-null   object
 3   Project Role           2604 non-null   object
 4   Legato Manager Name    2604 non-null   object
 5   Anthem Manager         2604 non-null   object
 6   Project Model          2232 non-null   object
 7   Total Planned Hours    2232 non-null   float64
 8   Total Actual Hours     2232 non-null   float64
 9   Total Remaining Hours  2232 non-null   float64
 10  Hours                  606 non-null    float64
 11  Effort Type            2604 non-null   object
 12  Task Name              2604 non-null   object
 13  AGID                   2604 non-null   object
dtypes: float64(4), object(10)
memory usage: 284.9+ KB

### Re-arrange the columns using reindex(arraylike,axis=1)

In [110]:
x = df_melt.columns.values
y = [x[0], x[13], x[1], x[2], x[3], x[4], x[5], x[6], x[7], x[8], x[9], x[11], x[12], x[10]]
df_melt = df_melt.reindex(y, axis=1)

### Save the final transformed dataframe into an excel: to_excel(dir, index = False)

In [111]:
# index = False prevents saving the df_melt.index as a separate leftmost column
# on the output excel.
df_melt.to_excel('data/melt.xlsx', index = False)

In [112]:
! jt -l

Available Themes:
   chesterish
   grade3
   gruvboxd
   gruvboxl
   monokai
   oceans16
   onedork
   solarizedd
   solarizedl

In [118]:
df_play = df_melt.sample(n=10)
df_play

,Resource Name,AGID,Project/SSCR name,Planned Release month,Project Role,Legato Manager Name,Anthem Manager,Project Model,Total Planned Hours,Total Actual Hours,Total Remaining Hours,Effort Type,Task Name,Hours
407,"Nalluri, Baji babu",AG67786,Cotiviti Expansion July Release,July 2020,Tech Lead,"Ghosh, Ayan",Saxon Joseph,Waterfall,80.0,85.0,-5.0,Actual,Design Review,9.0
563,"Mudumba, Rambabu",AG13560,PV36064_Cotiviti expansion,February 2020,Senior Software Engineer,"Ghosh, Ayan",Saxon Joseph,Waterfall,0.0,0.0,0.0,Actual,Unit Testing,NaN
1833,"Naga, Tirumani Lakshmi",AG60852,Others,NaN,Software Engineer,"Ghosh, Ayan",Saxon Joseph,NaN,NaN,NaN,NaN,Planned,Warranty Support,NaN
576,"Nalluri, Baji babu",AG67786,Cotiviti Online & Adjustments Phase 1- Sep,September 2020,Tech Lead,"Ghosh, Ayan",Saxon Joseph,Waterfall,104.0,110.5,-6.5,Actual,Unit Testing,18.0
761,"Manohar, Gande",AG34344,Cotiviti Expansion July Release,July 2020,Software Engineer,"Ghosh, Ayan",Saxon Joseph,Waterfall,112.0,152.5,-40.5,Planned,SIT,80.0
2231,"Manohar, Gande",AG34344,Cotiviti Expansion July Release,July 2020,Software Engineer,"Ghosh, Ayan",Saxon Joseph,Waterfall,112.0,152.5,-40.5,Actual,Task3,NaN
141,"Mudumba, Rambabu",AG13560,Cotiviti Online & Adjustments Phase 1- Sep,September 2020,Senior Software Engineer,"Ghosh, Ayan",Saxon Joseph,Waterfall,184.0,160.0,24.0,Actual,BRD Review,NaN
1710,"Nalluri, Baji babu",AG67786,Cotiviti Online & Adjustments Phase 1- Sep,September 2020,Tech Lead,"Ghosh, Ayan",Saxon Joseph,Waterfall,104.0,110.5,-6.5,Actual,Release Checklist,NaN
1770,"Manohar, Gande",AG34344,Cotiviti Online & Adjustments Phase 1- Sep,September 2020,Software Engineer,"Ghosh, Ayan",Saxon Joseph,Waterfall,72.0,40.5,31.5,Actual,Post Implementation Support,NaN
1502,"Nalluri, Baji babu",AG67786,PV38761 ClaimXten Expansion,June 2020,Tech Lead,"Ghosh, Ayan",Saxon Joseph,Waterfall,0.0,0.0,0.0,Actual,STC Results Review,NaN

## Accessing particular sections of the dataframe
- To access specific Columns, we can select by *df[colname]* or *df[[colname1, colname2]]*. This will give the series.
- To access specific rows, we can select by df.loc[indexname] or df.loc[[indexname1, indexname2]]

In [191]:
# Selecting one column --> Gives series
df_play['AGID']

407     AG67786
563     AG13560
1833    AG60852
576     AG67786
761     AG34344
2231    AG34344
141     AG13560
1710    AG67786
1770    AG34344
1502    AG67786
Name: AGID, dtype: object

In [201]:
# Selecting more than one column --> Gives dataframe
df_play[['AGID','Resource Name']]

         AGID            Resource Name
407   AG67786      Nalluri, Baji babu
563   AG13560        Mudumba, Rambabu
1833  AG60852  Naga, Tirumani Lakshmi
576   AG67786      Nalluri, Baji babu
761   AG34344          Manohar, Gande
2231  AG34344          Manohar, Gande
141   AG13560        Mudumba, Rambabu
1710  AG67786      Nalluri, Baji babu
1770  AG34344          Manohar, Gande
1502  AG67786      Nalluri, Baji babu

In [203]:
# Selecing one or more rows by slicer based indexing. Endpoints excluded. Always returns dataframe as it is a slice
# Note, a single row cannot be selected by simply putting df_play[0],df_play[1] etc, it has to be a slice in order to get
# rows
df_play[0:1]

,Resource Name,AGID,Project/SSCR name,Planned Release month,Project Role,Legato Manager Name,Anthem Manager,Project Model,Total Planned Hours,Total Actual Hours,Total Remaining Hours,Effort Type,Task Name,Hours
407,"Nalluri, Baji babu",AG67786,Cotiviti Expansion July Release,July 2020,Tech Lead,"Ghosh, Ayan",Saxon Joseph,Waterfall,80.0,85.0,-5.0,Actual,Design Review,9.0

In [123]:
#Boolean indexing:  Row-filtering by column labels 
df_play[df_play['AGID'] == 'AG13560']

,Resource Name,AGID,Project/SSCR name,Planned Release month,Project Role,Legato Manager Name,Anthem Manager,Project Model,Total Planned Hours,Total Actual Hours,Total Remaining Hours,Effort Type,Task Name,Hours
563,"Mudumba, Rambabu",AG13560,PV36064_Cotiviti expansion,February 2020,Senior Software Engineer,"Ghosh, Ayan",Saxon Joseph,Waterfall,0.0,0.0,0.0,Actual,Unit Testing,NaN
141,"Mudumba, Rambabu",AG13560,Cotiviti Online & Adjustments Phase 1- Sep,September 2020,Senior Software Engineer,"Ghosh, Ayan",Saxon Joseph,Waterfall,184.0,160.0,24.0,Actual,BRD Review,NaN

In [168]:
# loc : Row-filtering by column labels
df_play.loc[df_play['AGID'] == 'AG13560']

,Resource Name,AGID,Project/SSCR name,Planned Release month,Project Role,Legato Manager Name,Anthem Manager,Project Model,Total Planned Hours,Total Actual Hours,Total Remaining Hours,Effort Type,Task Name,Hours
563,"Mudumba, Rambabu",AG13560,PV36064_Cotiviti expansion,February 2020,Senior Software Engineer,"Ghosh, Ayan",Saxon Joseph,Waterfall,0.0,0.0,0.0,Actual,Unit Testing,NaN
141,"Mudumba, Rambabu",AG13560,Cotiviti Online & Adjustments Phase 1- Sep,September 2020,Senior Software Engineer,"Ghosh, Ayan",Saxon Joseph,Waterfall,184.0,160.0,24.0,Actual,BRD Review,NaN

In [124]:
# Boolean indexing:  Row-filtering by column labels (Complex conditions)
df_play[(df_play['AGID'] == 'AG13560') & (df_play['Total Planned Hours'] > 150)]

,Resource Name,AGID,Project/SSCR name,Planned Release month,Project Role,Legato Manager Name,Anthem Manager,Project Model,Total Planned Hours,Total Actual Hours,Total Remaining Hours,Effort Type,Task Name,Hours
141,"Mudumba, Rambabu",AG13560,Cotiviti Online & Adjustments Phase 1- Sep,September 2020,Senior Software Engineer,"Ghosh, Ayan",Saxon Joseph,Waterfall,184.0,160.0,24.0,Actual,BRD Review,NaN

In [204]:
# loc:  Row-filtering by column labels (Complex conditions)
df_play.loc[(df_play['AGID'] == 'AG13560') & (df_play['Total Planned Hours'] > 150)]

# Note:- Do not put [] around the first parameter inside loc in above case, the boolean condition itself returns
# a series, adding [] will make it 2 dimensional. It needs to be 1 dimensional. If you are putting row-index labels,
# then they can be added within [] and it will still be 1 dimensional.

,Resource Name,AGID,Project/SSCR name,Planned Release month,Project Role,Legato Manager Name,Anthem Manager,Project Model,Total Planned Hours,Total Actual Hours,Total Remaining Hours,Effort Type,Task Name,Hours
141,"Mudumba, Rambabu",AG13560,Cotiviti Online & Adjustments Phase 1- Sep,September 2020,Senior Software Engineer,"Ghosh, Ayan",Saxon Joseph,Waterfall,184.0,160.0,24.0,Actual,BRD Review,NaN

In [206]:
# Previous plus Selected Columns
df_play[(df_play['AGID'] == 'AG13560') & (df_play['Total Planned Hours'] > 150)][['Anthem Manager','Legato Manager Name']]

    Anthem Manager Legato Manager Name
141   Saxon Joseph         Ghosh, Ayan

In [207]:
"""
df.loc[a,b]
Mind that a should be either the list of index labels in [] or boolean indexing condition on column labels without []
'b' should be the list if column labels in []
"""
# loc : Previous plus Selected columns
df_play.loc[((df_play['AGID'] == 'AG13560') & (df_play['Total Planned Hours'] > 150)),
            ['Anthem Manager','Legato Manager Name']]

    Anthem Manager Legato Manager Name
141   Saxon Joseph         Ghosh, Ayan

In [209]:
df_play.loc[(df_play['AGID'] == 'AG13560') & (df_play['Total Planned Hours'] > 150)]['Anthem Manager']

141    Saxon Joseph
Name: Anthem Manager, dtype: object

In [131]:
# loc : Row label
df_play.loc[1710]

Resource Name                                   Nalluri, Baji babu
AGID                                                        AG67786
Project/SSCR name        Cotiviti Online & Adjustments Phase 1- Sep
Planned Release month                                September 2020
Project Role                                              Tech Lead
Legato Manager Name                                     Ghosh, Ayan
Anthem Manager                                         Saxon Joseph
Project Model                                             Waterfall
Total Planned Hours                                             104
Total Actual Hours                                            110.5
Total Remaining Hours                                          -6.5
Effort Type                                                  Actual
Task Name                                        Release Checklist
Hours                                                           NaN
Name: 1710, dtype: object

In [210]:
# loc : List of Row labels
df_play.loc[[1710,1770]]

,Resource Name,AGID,Project/SSCR name,Planned Release month,Project Role,Legato Manager Name,Anthem Manager,Project Model,Total Planned Hours,Total Actual Hours,Total Remaining Hours,Effort Type,Task Name,Hours
1710,"Nalluri, Baji babu",AG67786,Cotiviti Online & Adjustments Phase 1- Sep,September 2020,Tech Lead,"Ghosh, Ayan",Saxon Joseph,Waterfall,104.0,110.5,-6.5,Actual,Release Checklist,NaN
1770,"Manohar, Gande",AG34344,Cotiviti Online & Adjustments Phase 1- Sep,September 2020,Software Engineer,"Ghosh, Ayan",Saxon Joseph,Waterfall,72.0,40.5,31.5,Actual,Post Implementation Support,NaN

In [212]:
# loc: Row label Slice (End points included)
df_play.loc[407:576]     # Note how it does not depend even on the range index being in order. 
                         # slice beginning and end are treated as labels not integers

,Resource Name,AGID,Project/SSCR name,Planned Release month,Project Role,Legato Manager Name,Anthem Manager,Project Model,Total Planned Hours,Total Actual Hours,Total Remaining Hours,Effort Type,Task Name,Hours
407,"Nalluri, Baji babu",AG67786,Cotiviti Expansion July Release,July 2020,Tech Lead,"Ghosh, Ayan",Saxon Joseph,Waterfall,80.0,85.0,-5.0,Actual,Design Review,9.0
563,"Mudumba, Rambabu",AG13560,PV36064_Cotiviti expansion,February 2020,Senior Software Engineer,"Ghosh, Ayan",Saxon Joseph,Waterfall,0.0,0.0,0.0,Actual,Unit Testing,NaN
1833,"Naga, Tirumani Lakshmi",AG60852,Others,NaN,Software Engineer,"Ghosh, Ayan",Saxon Joseph,NaN,NaN,NaN,NaN,Planned,Warranty Support,NaN
576,"Nalluri, Baji babu",AG67786,Cotiviti Online & Adjustments Phase 1- Sep,September 2020,Tech Lead,"Ghosh, Ayan",Saxon Joseph,Waterfall,104.0,110.5,-6.5,Actual,Unit Testing,18.0

In [160]:
# You can even put a boolean indexing on the index(row label) values
df_play.loc[df_play.index > 700]

,Resource Name,AGID,Project/SSCR name,Planned Release month,Project Role,Legato Manager Name,Anthem Manager,Project Model,Total Planned Hours,Total Actual Hours,Total Remaining Hours,Effort Type,Task Name,Hours
1833,"Naga, Tirumani Lakshmi",AG60852,Others,NaN,Software Engineer,"Ghosh, Ayan",Saxon Joseph,NaN,NaN,NaN,NaN,Planned,Warranty Support,NaN
761,"Manohar, Gande",AG34344,Cotiviti Expansion July Release,July 2020,Software Engineer,"Ghosh, Ayan",Saxon Joseph,Waterfall,112.0,152.5,-40.5,Planned,SIT,80.0
2231,"Manohar, Gande",AG34344,Cotiviti Expansion July Release,July 2020,Software Engineer,"Ghosh, Ayan",Saxon Joseph,Waterfall,112.0,152.5,-40.5,Actual,Task3,NaN
1710,"Nalluri, Baji babu",AG67786,Cotiviti Online & Adjustments Phase 1- Sep,September 2020,Tech Lead,"Ghosh, Ayan",Saxon Joseph,Waterfall,104.0,110.5,-6.5,Actual,Release Checklist,NaN
1770,"Manohar, Gande",AG34344,Cotiviti Online & Adjustments Phase 1- Sep,September 2020,Software Engineer,"Ghosh, Ayan",Saxon Joseph,Waterfall,72.0,40.5,31.5,Actual,Post Implementation Support,NaN
1502,"Nalluri, Baji babu",AG67786,PV38761 ClaimXten Expansion,June 2020,Tech Lead,"Ghosh, Ayan",Saxon Joseph,Waterfall,0.0,0.0,0.0,Actual,STC Results Review,NaN

In [132]:
df_play['Anthem Manager']

407     Saxon Joseph
563     Saxon Joseph
1833    Saxon Joseph
576     Saxon Joseph
761     Saxon Joseph
2231    Saxon Joseph
141     Saxon Joseph
1710    Saxon Joseph
1770    Saxon Joseph
1502    Saxon Joseph
Name: Anthem Manager, dtype: object

In [144]:
df_play[['Anthem Manager','Legato Manager Name']]

     Anthem Manager Legato Manager Name
407    Saxon Joseph         Ghosh, Ayan
563    Saxon Joseph         Ghosh, Ayan
1833   Saxon Joseph         Ghosh, Ayan
576    Saxon Joseph         Ghosh, Ayan
761    Saxon Joseph         Ghosh, Ayan
2231   Saxon Joseph         Ghosh, Ayan
141    Saxon Joseph         Ghosh, Ayan
1710   Saxon Joseph         Ghosh, Ayan
1770   Saxon Joseph         Ghosh, Ayan
1502   Saxon Joseph         Ghosh, Ayan

While all 3 of the below cells produce the same result, using th 3rd option may be preferable?

In [136]:
df_play[['Anthem Manager','Legato Manager Name']].loc[[407,563]]

    Anthem Manager Legato Manager Name
407   Saxon Joseph         Ghosh, Ayan
563   Saxon Joseph         Ghosh, Ayan

In [137]:
df_play.loc[[407,563]][['Anthem Manager','Legato Manager Name']]

    Anthem Manager Legato Manager Name
407   Saxon Joseph         Ghosh, Ayan
563   Saxon Joseph         Ghosh, Ayan

In [161]:
df_play.loc[[407,563],['Anthem Manager','Legato Manager Name']]

    Anthem Manager Legato Manager Name
407   Saxon Joseph         Ghosh, Ayan
563   Saxon Joseph         Ghosh, Ayan

In [182]:
# Combination of row boolean indexing by column labels, and feature selection inside loc[]
df_play.loc[df_play['AGID']=='AG34344',['AGID','Anthem Manager','Legato Manager Name']]

         AGID Anthem Manager Legato Manager Name
761   AG34344   Saxon Joseph         Ghosh, Ayan
2231  AG34344   Saxon Joseph         Ghosh, Ayan
1770  AG34344   Saxon Joseph         Ghosh, Ayan

In [214]:
# What if you want to select entire columns without row-filtering, with loc.
df_play.loc[:,['Anthem Manager','Legato Manager Name']]

     Anthem Manager Legato Manager Name
407    Saxon Joseph         Ghosh, Ayan
563    Saxon Joseph         Ghosh, Ayan
1833   Saxon Joseph         Ghosh, Ayan
576    Saxon Joseph         Ghosh, Ayan
761    Saxon Joseph         Ghosh, Ayan
2231   Saxon Joseph         Ghosh, Ayan
141    Saxon Joseph         Ghosh, Ayan
1710   Saxon Joseph         Ghosh, Ayan
1770   Saxon Joseph         Ghosh, Ayan
1502   Saxon Joseph         Ghosh, Ayan

.loc is a very versatile and powerful attribute. You can use it to get subsections of your dataframe. Typically loc is always followed by a way to identify rows. Then we can use next parameter to pass columns.

Filtering just means restricting the number of data rows (not restricting by column, all columns will be there)
Note that dataframe have label-based access. To filter the dataframe, we need to filter on basis
of row or column labels (something like df[0], df[1], df[0,1] - these don't mean anything and doesn't work, if you
want something like that you need to use .iloc to fiter rows by subscripting "row numbers")

To filter on basis of row labels (restrict the number of rows to specified rows), we use .loc

To filter on basis of column labels(restrict the number of rows to specified rows that meet the condition), we use
boolean indexing

Finally to restrict the output to have only certain columns, we can qualify the column list either before .loc/.iloc or after .loc/.iloc, it does not matter which one we choose

In [222]:
# If I do not know the index names of the first 2 rows I cannot use .loc, instead I will use .iloc.
# In below example df_play.iloc[[1,2]] works same as df_play.loc[[563,1833]]

df_play.iloc[[1,2]]

,Resource Name,AGID,Project/SSCR name,Planned Release month,Project Role,Legato Manager Name,Anthem Manager,Project Model,Total Planned Hours,Total Actual Hours,Total Remaining Hours,Effort Type,Task Name,Hours
563,"Mudumba, Rambabu",AG13560,PV36064_Cotiviti expansion,February 2020,Senior Software Engineer,"Ghosh, Ayan",Saxon Joseph,Waterfall,0.0,0.0,0.0,Actual,Unit Testing,NaN
1833,"Naga, Tirumani Lakshmi",AG60852,Others,NaN,Software Engineer,"Ghosh, Ayan",Saxon Joseph,NaN,NaN,NaN,NaN,Planned,Warranty Support,NaN

In [223]:
df_play.iloc[1:2]

,Resource Name,AGID,Project/SSCR name,Planned Release month,Project Role,Legato Manager Name,Anthem Manager,Project Model,Total Planned Hours,Total Actual Hours,Total Remaining Hours,Effort Type,Task Name,Hours
563,"Mudumba, Rambabu",AG13560,PV36064_Cotiviti expansion,February 2020,Senior Software Engineer,"Ghosh, Ayan",Saxon Joseph,Waterfall,0.0,0.0,0.0,Actual,Unit Testing,NaN

### Sorting a dataframe by sort_values

Parameters:-

sort_values([list of index/col labels], axis=0/1, inplace=True/False, ascending=True/False etc)

In [155]:
df_play_sort = df_play.sort_values(['Total Planned Hours','AGID'])

In [157]:
df_play_sort[['AGID','Total Planned Hours']]

         AGID  Total Planned Hours
563   AG13560                  0.0
1502  AG67786                  0.0
1770  AG34344                 72.0
407   AG67786                 80.0
576   AG67786                104.0
1710  AG67786                104.0
761   AG34344                112.0
2231  AG34344                112.0
141   AG13560                184.0
1833  AG60852                  NaN